/* Add your SCSS styles here */
@import "../../Styles/variables";


table {
  /* Styles for table */
  width: 100%;
  border-collapse: collapse;
}

th, td {
  /* Styles for table cells */
  padding: 10px;
  padding-top: 3px;
  padding-bottom: 3px;
  max-width: 100px;
  text-align: center;
}

th {
  /* Styles for table header cells */
  background-color: white;
}

tr:nth-child(even) {
  /* Styles for even rows */
  background-color: #f0f8fc;
}

tr:nth-child(odd) {
  /* Styles for odd rows */
  background-color: #ffffff;
}

.table-pagination {
  /* Styles for pagination */
}

.textfield-style {
    max-width: 100px;
    border: 1.5px solid $border-color;
    height: 30px;
    border-radius: 5px;
    &:focus-visible {
      outline: none; /* Remove default outline */
      border: 1px solid $Primary-color; /* Add border on focus */
      box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Add box shadow on focus */
    }
}
.right-line-sep {
  border-right: 1.5px solid  #bcbcbc;
}

.filter-row{
  height: 60px;
    border: 1.5px solid $border-color;
    margin-top: 20px;
}
.header-row{
  height: 35px;
}

input {
  &:focus {
    outline: none; /* Remove default outline */
    border: 1px solid $Primary-color; /* Add border on focus */
    box-shadow: 0 0 4px rgba(0, 123, 255, 0.5); /* Add box shadow on focus */
  }

}
 

