@import "../../Styles/variables";

.sidebar-container {
  width: 220px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  padding-right: 10px;
  height: 100vh;
  padding-top: 25px;
}

.sidebar-item {
  cursor: pointer;
  padding: 10px;
  padding-left: 7px;

  &:hover {
    color: white;
    border-radius: 5px;
    background-color: $Primary-color; /* Use the primary color variable for background */
  }

  &.nested {
    padding-left: 20px; /* Indent nested items */
  }

  .sidebar-item-content {
    display: flex;
    align-items: center;

    span {
      margin-left: 10px; /* Spacing between icon and text */
    }
  }

  .sidebar-item-children {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease; /* Smooth animation for opening and closing */
    padding-left: 20px; /* Indent nested items */
  }

  &.open .sidebar-item-children {
    max-height: 1000px; /* Adjust max-height as needed */
  }

  &.selected {
    background-color: $Primary-color; /* Use the primary color variable for background */
    color: white;
    border-radius: 5px;
  }
}
