@import "../../Styles/variables";




.collapse-margin {
     /* margin-left: 12%; */
     margin-top: 0%;
     /* margin-bottom: 1%; */
    //  padding-left: 27%;
  // border-left: solid black 2px;
}
.sidebar-container{
  height: 100% !important; 
  overflow-y: auto !important;
  .MuiDrawer-paper{
    background-color:white;
    top: 65px;
    min-width: 8%;
    width: 12%;
    height: 95vh;
    padding-top : 20px;
  }
  .MuiListItem-root:hover{
    background-color:$Primary-color
    }
    
}




.sidebar-child-listitem{
  
  text-decoration: none;
    padding: 0px;
    padding-left: 6px;
    padding-bottom: 0px !important;
    &:hover {
     border-radius: 5px;
     color: white !important; // Change this to the desired hover font color
    }
      &.selected {
        background-color:$Primary-color;
  color: white;
  border-radius: 5px
      }
    
}


.sidebar-child-navlink{
  text-decoration: none;
  font-size: 13px;
  padding-left: 15px;

}
.nested-list-item{
  text-decoration: none;
  font-size: 13px;
  padding-left: 25px;

}
.MuiList-root{

  padding-top: 0px;
  padding-left: 6px;
  padding-right: 6px

}

.list-item-text{
  .MuiListItemText-primary {
    font-weight: 300
  }
 
}
