$background-color: #f06292;
$header-color:#020202;
$header-font-size: 13px;
$text-color: #f1d3b3;
$btn-width: 120px;
$btn-height: 40px;
$block-padding: 60px;
$Primary-color: #7db6fa ;
$Secondry-color: #f7f5f7;
$border-color: #e8e7e8e3;
$background-color-primary: #180a21;
$popover-background-color:  #FFFFFF ;



// #6EB6FF - 
			  
// #001FB2 - Border

// #EDF6FF - Data rows

// #F5F5F5