.body-container {
  display: flex;
  flex-direction: row;
  margin-top: 55px;
  position: fixed;
  width: 100vw;
  }
  
  .sidebar {
    flex: 0 0 auto; /* Sidebar takes its natural width */
  }
  
  .main-content {
    flex-grow: 1;
    margin-left: 25px;
    margin-right: 25px;
    padding-top: 25px;
  }
  